/* o: #ff0066 */
/* x: #9966ff */

.game {
    display: flex;
    flex-direction: column;
    background-color: #4b495f;
    height: 100vh;
}

.game--players {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    color: white;
    font-family: sans-serif;
    font-weight: bolder;
}

#me {
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: 0.5rem;
}

#opponent {
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    padding: 0.5rem;
}

.game--board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-self: center;
    margin-top: auto;
    margin-bottom: auto;
    row-gap: 1rem;
    column-gap: 1rem;
}

.game--resultMessage {
    align-self: center;
    font-family: sans-serif;
}